/*
Theme Name: Her Media Twenty Seventeen Child
Theme URI: 
Description: A child theme of Twenty Seventeen
Author: K Magnussen
Author URI: www.karrinemagnussen.com
Template: twentyseventeen
Version: 0.1.0
*/

/************ Table of Contents ************
1.0 Fonts
1.1 Imported Fonts
1.2 Font Family Info

2.0 Colour Swatches -for informational purpose

3.0 HEADER
3.1 Adjust Header Size 
3.2 Computer screen
3.3 Mobile screen
3.4 Computer screen logged in user w/ admin bar

3.5 Site Title
3.6 Site Title Colour
3.7 Site Description




/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Devonshire|Parisienne|Redressed');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Raleway|Titillium+Web|Work+Sans:200,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,400i,500,600,700');
/* 
font-family: 'Berkshire Swash', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Redressed', cursive;
 font-family: 'Cinzel Decorative', cursive;
*/

/* colour swatch 
842135 434449   037D96  F5BA0F  726157 5A8752 721F35
*/


/* 3.0  HEADER  ***********/

/* 3.1 Adjust Header Size */

/*Computer screen */
@media screen and (min-width: 48em) {
    .has-header-image.twentyseventeen-front-page .custom-header {
        height: 40vh;
        }
    }
     
    /* Mobile screen*/
    @media screen and (max-width: 48em) {
    .has-header-image.twentyseventeen-front-page .custom-header
    {
        /*display: table;*/
        /*height: 300px;*/
        /*height: 75vh;*/
        height: 40vh;
        /*width: 100%;*/
        }
    }
     
    /* Computer screen with logged in user and admin bar showing on front end*/
    @media screen and (min-width: 48em) {
        .admin-bar.twentyseventeen-front-page.has-header-image .custom-header-image {
        /*height: calc(100vh - 32px);*/
        height: calc(50vh - 32px);
        }
    }

    /* reduces space between Menu and content */

.site-content {
    padding-top: 1em;
    }
    
    .page-header {
    padding-bottom: 0;
    }
    .custom-header {
    margin-bottom: 0px !important; 
    padding-bottom: 0;
    }

/* 3.5 *********Site Title *********************/
body.has-header-image .site-title {
    clear: none;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 60px;
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: 0.015em;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    text-transform: uppercase;
}
/* 3.6  ******Site Title Color *************/
body.has-header-image .site-title, body.has-header-video .site-title, body.has-header-image .site-title a, body.has-header-video .site-title a {
    color:#037D96;
    text-shadow: 1px 1px #C4E0E6;
}


/* 3.7 ******** Site Description ************/
body.has-header-image .site-description, body.has-header-video .site-description {
    color:  #C4E0E6;
    font-family: 'Raleway:', sans-serif;
    font-weight: medium;
    letter-spacing: 0.15em;
    margin-left: 2em;
    text-shadow: .5px .5px #0F0F0F; 
}

.has-header-image.twentyseventeen-front-page .site-branding.wrap .has-header-image.home.blog .site-branding.wrap, .wrap {
    bottom: 0;
    display: block;
    margin-left: 2em;
    height: auto;
    padding-top: 0px;
    position:;
    left: 0px;
    width: 100%;
}

/*** NAVIGATION BAR *****************/

.navigation-top {
    background: #037D96    !important;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    font-size: 16px;
    font-size: 1rem;
    position: relative;
}
.navigation-top a {
    color: #222;
    font-weight: 600;
}
.navigation-top a:hover {
    color: #F5EEEE;
}
.navigation-top a:active {
    color: #C3E0E6 !important;
}

/* Adjust Navigation Font and alignment */
.main-navigation a {
    display: block;
    padding: 0.5em 2;
    text-decoration: none;
    margin-left: 2em;
    font-family: 'Raleway:', sans-serif;
}
  

/* Change Height of Front Page Panels*/
.panel-image {
    height: 40vh;
   }
   @media screen and (min-width: 48em) {
    .panel-image {
     height: 40vh;
    }
   }

/* Add space around page content panel*/
  .home .panel-content .wrap {
    padding-top: 25px !important;
    padding-left: 50px;
    padding-right: 50px;
}
/* Move Content Right to align with Navigatiion Menu */
.panel-content .wrap {
    margin-left: 2em;
 
}

/* Page Titles */
.page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
    color: #222;
    font-size: 14px;
    font-size: 1.4rem !important;
}

/* Page Titles - remove white space below********/
.site-content {
    padding-top: 1em;
    padding-top: 1em;
}
.page-header {
    padding-bottom: 0;
}
@media screen and (min-width: 15em) {
    .page.page-one-column .entry-header, 
    .twentyseventeen-front-page.page-one-column .entry-header, 
    .archive.page-one-column:not(.has-sidebar) .page-header {
        margin-bottom: 0px !important;
    }
}

/*  CONTENT PAGES ****************************/

 /* Content One Column Page Width Adjustment */

.page-one-column .panel-content .wrap {
    max-width: 80%;
}

@media screen and (min-width: 30em) {
	.page-one-column .panel-content .wrap
	{
        max-width: 80%;
	}
}
/* image corners */
.entry-content img {
border-radius: 5px;
}
/* Conetent Bullet alignment ***********************

entry-content ol, .entry-content ul {list-style-position: inside;}
*/


/* Icon */
.icon {
    display: inline-block;
    fill: #921818;
    height: 1em;
    position: relative;
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}


/** FOOTER  ***********************/

/* Remove Wordpress info */
.site-info { display: none; }



/* SM Navigation */
.social-navigation a {
    background-color: #037D96 ;
    width: 40px;
}
.social-navigation a:hover {
    
    background-color: #721F35;
    width: 40px;  
}
/* Footer Background 
.site-footer {background: #AAC300; position:relative; z-index:9999;}
*/

/* Adjust Footer widths to make 1 2 eqhal width */
/* Footer 1 content */
.site-footer .widget-column.footer-widget-1 {
    /* float: left; */
    width: 47%;
}

/* Footer 2 content */
.site-footer .widget-column.footer-widget-2 {
    /* float: right; */
    width: 47%;
}

/* Social icons */
.social-navigation {
    /* clear: left; */
    /* float: left; */
    /* margin-bottom: 0; */
    width: 47%;
}

